In [1]:
import pandas as pd

In [2]:
df=pd.read_excel(r"C:\Users\HP\Downloads\AirFlights_Data.xlsx")

In [3]:
df.head(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [5]:
df["Total_Stops"].value_counts()

Total_Stops
1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: count, dtype: int64

In [6]:
df[df["Route"].isnull()]

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
9039,Air India,6/05/2019,Delhi,Cochin,NaN,09:45,09:25 07 May,23h 40m,NaN,No info,7480

In [7]:
df[(df["Source"] == "Delhi") & (df["Destination"] == "Cochin")]

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
9,Multiple carriers,27/05/2019,Delhi,Cochin,DEL → BOM → COK,11:25,19:15,7h 50m,1 stop,No info,8625
10,Air India,1/06/2019,Delhi,Cochin,DEL → BLR → COK,09:45,23:00,13h 15m,1 stop,No info,8907
15,Air India,3/03/2019,Delhi,Cochin,DEL → AMD → BOM → COK,16:40,19:15 04 Mar,26h 35m,2 stops,No info,14011
16,SpiceJet,15/04/2019,Delhi,Cochin,DEL → PNQ → COK,08:45,13:15,4h 30m,1 stop,No info,5830
...,...,...,...,...,...,...,...,...,...,...,...
10669,Air India,15/06/2019,Delhi,Cochin,DEL → BOM → COK,08:00,19:15,11h 15m,1 stop,No info,9929
10672,Jet Airways,27/06/2019,Delhi,Cochin,DEL → AMD → BOM → COK,23:05,19:00 28 Jun,19h 55m,2 stops,In-flight meal not included,11150
10673,Jet Airways,27/05/2019,Delhi,Cochin,DEL → AMD → BOM → COK,13:25,04:25 28 May,15h,2 stops,No info,16704
10676,Multiple carriers,1/05/2019,Delhi,Cochin,DEL → BOM → COK,10:20,19:00,8h 40m,1 stop,No info,9794
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [8]:
fill=df["Total_Stops"].mode()[0]

In [37]:
df["Total_Stops"].fillna(fill,inplace=True)

In [10]:
import warnings
warnings.filterwarnings("ignore")

In [11]:
df.drop(["Route","Additional_Info"],axis=1,inplace=True)

In [12]:
# Extract month and day 
df["month_of_J"]=pd.to_datetime(df["Date_of_Journey"]).dt.month
df["day_of_J"]=pd.to_datetime(df["Date_of_Journey"]).dt.day

In [13]:
# Extract hours and minutes 
df["dep_hour"]=pd.to_datetime(df["Dep_Time"]).dt.hour
df["dep_minute"]=pd.to_datetime(df["Dep_Time"]).dt.minute

In [14]:
# Extract hours and minutes 
df["Arrival_hour"]=pd.to_datetime(df["Arrival_Time"]).dt.hour
df["Arrival_minute"]=pd.to_datetime(df["Arrival_Time"]).dt.minute

In [15]:
# how to extract hour and minute in duration column

In [16]:

df['Duration_Hour'] = df['Duration'].str.extract(r'(\d+)h')
df['Duration_Minute'] = df['Duration'].str.extract(r'(\d+)m')

In [17]:
df.head(3)

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,month_of_J,day_of_J,dep_hour,dep_minute,Arrival_hour,Arrival_minute,Duration_Hour,Duration_Minute
0,IndiGo,24/03/2019,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,3897,3,24,22,20,1,10,2,50
1,Air India,1/05/2019,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,7662,5,1,5,50,13,15,7,25
2,Jet Airways,9/06/2019,Delhi,Cochin,09:25,04:25 10 Jun,19h,2 stops,13882,6,9,9,25,4,25,19,NaN

In [39]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Price              0
month_of_J         0
day_of_J           0
dep_hour           0
dep_minute         0
Arrival_hour       0
Arrival_minute     0
Duration_Hour      0
Duration_Minute    0
dtype: int64

In [19]:
df[df["Duration_Minute"].isnull()]

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,month_of_J,day_of_J,dep_hour,dep_minute,Arrival_hour,Arrival_minute,Duration_Hour,Duration_Minute
2,Jet Airways,9/06/2019,Delhi,Cochin,09:25,04:25 10 Jun,19h,2 stops,13882,6,9,9,25,4,25,19,NaN
18,Air India,12/06/2019,Delhi,Cochin,20:15,19:15 13 Jun,23h,2 stops,13381,6,12,20,15,19,15,23,NaN
33,Jet Airways,15/06/2019,Delhi,Cochin,14:35,12:35 16 Jun,22h,2 stops,10919,6,15,14,35,12,35,22,NaN
44,Multiple carriers,21/03/2019,Delhi,Cochin,09:00,21:00,12h,1 stop,13062,3,21,9,0,21,0,12,NaN
53,IndiGo,18/06/2019,Banglore,Delhi,21:15,00:15 19 Jun,3h,non-stop,3943,6,18,21,15,0,15,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10591,Jet Airways,12/06/2019,Delhi,Cochin,20:00,19:00 13 Jun,23h,2 stops,14300,6,12,20,0,19,0,23,NaN
10638,Jet Airways,21/03/2019,Banglore,New Delhi,21:25,11:25 19 Mar,14h,1 stop,7832,3,21,21,25,11,25,14,NaN
10639,Air India,3/06/2019,Delhi,Cochin,05:15,19:15 04 Jun,38h,3 stops,10493,6,3,5,15,19,15,38,NaN
10673,Jet Airways,27/05/2019,Delhi,Cochin,13:25,04:25 28 May,15h,2 stops,16704,5,27,13,25,4,25,15,NaN
10680,Jet Airways,27/04/2019,Banglore,Delhi,08:20,11:20,3h,non-stop,7229,4,27,8,20,11,20,3,NaN

In [20]:
df["Duration_Minute"].fillna(0,inplace=True)

In [21]:
df[df["Duration_Hour"].isnull()]

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,month_of_J,day_of_J,dep_hour,dep_minute,Arrival_hour,Arrival_minute,Duration_Hour,Duration_Minute
6474,Air India,6/03/2019,Mumbai,Hyderabad,16:50,16:55,5m,2 stops,17327,3,6,16,50,16,55,NaN,5

In [22]:
df["Duration_Hour"].fillna(0,inplace=True)

In [23]:
df[df["Duration_Hour"].isnull()]

Empty DataFrame
Columns: [Airline, Date_of_Journey, Source, Destination, Dep_Time, Arrival_Time, Duration, Total_Stops, Price, month_of_J, day_of_J, dep_hour, dep_minute, Arrival_hour, Arrival_minute, Duration_Hour, Duration_Minute]
Index: []

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10683 non-null  object
 8   Price            10683 non-null  int64
 9   month_of_J       10683 non-null  int32
 10  day_of_J         10683 non-null  int32
 11  dep_hour         10683 non-null  int32
 12  dep_minute       10683 non-null  int32
 13  Arrival_hour     10683 non-null  int32
 14  Arrival_minute   10683 non-null  int32
 15  Duration_Hour    10683 non-null  object
 16  Duration_Minute  10683 non-null  object
dtypes: int32(6), int64(1), object(10)
memory usage: 1.1+ MB

In [25]:
df["Duration_Hour"]=df["Duration_Hour"].astype(int)

In [26]:
df["Duration_Minute"]=df["Duration_Minute"].astype(int)

In [27]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Price              0
month_of_J         0
day_of_J           0
dep_hour           0
dep_minute         0
Arrival_hour       0
Arrival_minute     0
Duration_Hour      0
Duration_Minute    0
dtype: int64

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10683 non-null  object
 8   Price            10683 non-null  int64
 9   month_of_J       10683 non-null  int32
 10  day_of_J         10683 non-null  int32
 11  dep_hour         10683 non-null  int32
 12  dep_minute       10683 non-null  int32
 13  Arrival_hour     10683 non-null  int32
 14  Arrival_minute   10683 non-null  int32
 15  Duration_Hour    10683 non-null  int32
 16  Duration_Minute  10683 non-null  int32
dtypes: int32(8), int64(1), object(8)
memory usage: 1.1+ MB

In [29]:
df.head(3)

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,month_of_J,day_of_J,dep_hour,dep_minute,Arrival_hour,Arrival_minute,Duration_Hour,Duration_Minute
0,IndiGo,24/03/2019,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,3897,3,24,22,20,1,10,2,50
1,Air India,1/05/2019,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,7662,5,1,5,50,13,15,7,25
2,Jet Airways,9/06/2019,Delhi,Cochin,09:25,04:25 10 Jun,19h,2 stops,13882,6,9,9,25,4,25,19,0

In [30]:
df1=df.drop(["Date_of_Journey","Dep_Time","Arrival_Time","Duration"],axis=1)

In [31]:
df1

,Airline,Source,Destination,Total_Stops,Price,month_of_J,day_of_J,dep_hour,dep_minute,Arrival_hour,Arrival_minute,Duration_Hour,Duration_Minute
0,IndiGo,Banglore,New Delhi,non-stop,3897,3,24,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,2 stops,7662,5,1,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,2 stops,13882,6,9,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,1 stop,6218,5,12,18,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,1 stop,13302,3,1,16,50,21,35,4,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,non-stop,4107,4,9,19,55,22,25,2,30
10679,Air India,Kolkata,Banglore,non-stop,4145,4,27,20,45,23,20,2,35
10680,Jet Airways,Banglore,Delhi,non-stop,7229,4,27,8,20,11,20,3,0
10681,Vistara,Banglore,New Delhi,non-stop,12648,3,1,11,30,14,10,2,40
10682,Air India,Delhi,Cochin,2 stops,11753,5,9,10,55,19,15,8,20

In [38]:
df1["Total_Stops"].unique()

array([0, 2, 1, 3, 4])

In [33]:
df1["Total_Stops"].replace("non-stop","0 stop",inplace=True)

In [34]:
df1["Total_Stops"]=df1["Total_Stops"].replace("[A-z]","",regex=True).astype(int)

In [35]:
df1[["Airline","Source","Destination"]]

           Airline    Source Destination
0           IndiGo  Banglore   New Delhi
1        Air India   Kolkata    Banglore
2      Jet Airways     Delhi      Cochin
3           IndiGo   Kolkata    Banglore
4           IndiGo  Banglore   New Delhi
...            ...       ...         ...
10678     Air Asia   Kolkata    Banglore
10679    Air India   Kolkata    Banglore
10680  Jet Airways  Banglore       Delhi
10681      Vistara  Banglore   New Delhi
10682    Air India     Delhi      Cochin

[10683 rows x 3 columns]

In [46]:
df1["Airline"].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

# Encoding

In [47]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()

In [48]:
df1[["Airline","Source","Destination"]]=df1[["Airline","Source","Destination"]].apply(enc.fit_transform)

In [50]:
df1["Airline"].unique()

array([ 3,  1,  4,  8,  6,  2, 10,  0, 11,  5,  7,  9])

In [49]:
df1.head(3)

,Airline,Source,Destination,Total_Stops,Price,month_of_J,day_of_J,dep_hour,dep_minute,Arrival_hour,Arrival_minute,Duration_Hour,Duration_Minute
0,3,0,5,0,3897,3,24,22,20,1,10,2,50
1,1,3,0,2,7662,5,1,5,50,13,15,7,25
2,4,2,1,2,13882,6,9,9,25,4,25,19,0

In [59]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score
import seaborn as sns

In [53]:
x=df1.drop("Price",axis=1)

In [55]:
y=df1["Price"]

In [58]:
df1.shape

(10683, 13)

In [237]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.1,random_state=42)

In [238]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [239]:
y_pre=model.predict(x_test)

In [240]:
mse = mean_squared_error(y_test, y_pre)
r2 = r2_score(y_test, y_pre)
print(mse)
print(r2)

12386549.51710007
0.42781788425245426

In [ ]:
# predict new price base on new data

In [241]:
newdata=[[3,0,5,0,3,24,22,20,1,10,2,50]]

In [242]:
model.predict(newdata)

array([6434.37955169])